@model TravelAuthorizations;
@using Microsoft.AspNetCore.Http;
@using WebSis.Models;
@using WebSis.Services;
@using WebSis.DataBase;

@{
    ViewData["Title"] = "Edição de AV - Autorização de Viagem";

    Secretaries secretary = new Secretaries();

    SecretariesService ss = new SecretariesService();

    WebSisContext dataBase = new WebSisContext();

    var secretaryId = Context.Session.GetInt32("secretariesId");

    var userId = Context.Session.GetInt32("idUser");

    List<Secretaries> secretaryList = ss.SecretariesList().Where(u => u.Id == secretaryId).ToList(); // Listagem de secretarias que são idênticas a secretaria do usuário que está logado.

    var countTA = dataBase.TravelAuthorizations.Where( ta => ta.UsersId == userId).Count(); // Retorna a contagem de registros de AV cadastrados pelo usuário que está logado.

    ICollection<TravelAuthorizations> taI = dataBase.TravelAuthorizations.Where( ta => ta.UsersId == userId).ToList();

    var next = countTA + 1;
}

<body class="text-center">

    <div class="container">

        <form method="post" asp-controller="Home" asp-action="UpgradeTA" onchange="SA()" class="form">

            <div class="navega mt-4">

                <div class="input-group input-group-md">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="selectSecretary"><i class="bi bi-building-fill-check"
                                title="Selecionar Secretarias"></i></label>
                    </div>
                    <select onchange="return getSecretariesProp()" class="custom-select select-secretary" name="selectSecretary"
                        id="selectSecretary" title="Selecionar Secretarias" disabled>
                        @foreach (var item in secretaryList)
                        {
                            if (item.Acronym != null)
                            {
                                <option class="text-center" value="@item.Id" selected>@item.Acronym - @item.Name</option>
                                <div class="dropdown-divider"></div>

                            }
                        }
                    </select>

                </div>

            </div> 

            <h3 class="text-center mt-5 mb-5">@ViewData["Title"] (@next.ToString("D4")/@DateTime.Now.ToString("yyyy"))</h3>

            <div class="col-md-6 mb-3">

                <input asp-for="@Model.Id" type="hidden" class="form-control" placeholder='@next.ToString("D4")' name="Id" required>

                <input type="hidden" id="secretaryId" class="form-control" asp-for="@Model.SecretariesId" required>

                <input type="hidden" value='@Context.Session.GetInt32("type")' class="form-control" asp-for="@Model.Type" required>

                <input asp-for="@Model.UsersId" type="hidden" class="form-control" value='@Context.Session.GetInt32("idUser")'name="UsersId" required>

                <input class="form-control" type="hidden" value='@DateTime.Now.ToString("yyyy")' asp-for="@Model.CurrentYear" required>

            </div>

            <div class="row offset-m2">

                <div class="col-md-6 mb-3">

                    <label class="form-label">Data Atual: </label>
                    <input class="form-control" value='@DateTime.Now.ToString("dd/MM/yyyy")' asp-for="@Model.CurrentDate" required readonly>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Nome da secretaria: </label>
                    <input type="text" id="secretaryName" class="form-control" asp-for="@Model.SecretaryName" required readonly>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Nome completo do solicitante: </label>
                    <input type="text" class="form-control" asp-for="@Model.ClientName" required>

                </div>

                <div class="col-md-6">
                    
                    <label class="form-label">Cargo: </label>
                    <input type="text" class="form-control" asp-for="@Model.Office" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Nível: </label>
                    <input type="number" class="form-control" asp-for="@Model.Level" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Código: </label>
                    <input type="number" class="form-control" asp-for="@Model.Code" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Data de saída: </label>
                    <input type="date" id="date1" class="form-control" asp-for="@Model.DepartureDate" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Hora de saída: </label>
                    <input type="time" class="form-control" asp-for="@Model.DepartureTime" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Data de chegada: </label>
                    <input onblur="return Calc()" placeholder="Data de chegada" id="date2" type="date" class="form-control" asp-for="@Model.ArrivalDate" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Hora de chegada: </label>
                    <input type="time" class="form-control" asp-for="@Model.ArrivalTime" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Prestação de contas: </label>
                    <input placeholder="dd/mm/aaaa" id="date3" type="datetime" class="form-control" asp-for="@Model.Accountability" required readonly>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Passagens de ida (Und.): </label>
                    <input type="number" class="form-control" asp-for="@Model.OneWayTickets" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Passagens de Volta (Und.): </label>
                    <input type="number" class="form-control" asp-for="@Model.ReturnTickets" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Destino: </label>
                    <input type="text" class="form-control" asp-for="@Model.Destiny" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">UG: </label>
                    <input type="text" class="form-control values-input2" asp-for="@Model.UG " required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">UO: </label>
                    <input type="text"  class="form-control values-input2" asp-for="@Model.UO" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">PA: </label>
                    <input type="text" class="form-control values-input2" asp-for="@Model.PA" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Número de despesas: </label>
                    <input type="text" class="form-control" asp-for="@Model.Expanses" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Fonte: </label>
                    <input type="number" class="form-control" asp-for="@Model.Font " required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Alimentação (Und.): </label>
                    <input id="n1" type="number" class="form-control" asp-for="@Model.FoodQuantity" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Hospedagem (Und.): </label>
                    <input id="n3" type="number" class="form-control" asp-for="@Model.HostingQuantity" required>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Valor unitário da alimentação (R$): </label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <i class="input-group-text">R$</i>
                        </div>

                        <input value="0.00" id="n2" type="text" class="form-control values-input" asp-for="@Model.FoodUnitaryValue" required>

                    </div>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Valor unitário da hospedagem (R$): </label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <i class="input-group-text">R$</i>
                        </div>

                        <input value="0.00" id="n4" type="text" class="form-control values-input" asp-for="@Model.HostingUnitaryValue" required>

                    </div>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Valor total da alimentação (R$): </label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <i class="input-group-text">R$</i>
                        </div>

                        <input id="totalfood" type="text" class="form-control" asp-for="@Model.FoodTotalValue" required readonly>

                    </div>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Valor total da hospedagem (R$): </label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <i class="input-group-text">R$</i>
                        </div>

                        <input id="totalhosting" type="text" class="form-control" asp-for="@Model.HostingTotalValue" required readonly>

                    </div>

                </div>

                <div class="col-md-6 mb-3">

                    <label class="form-label">Valor total das despesas (R$): </label>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <i class="input-group-text">R$</i>
                        </div>

                        <input id="total" type="text" class="form-control text-center" asp-for="@Model.ExpanseTotalValue" required readonly>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 mb-3">
                    
                    <label class="form-label">Objetivo da Viagem: </label>
                    <textarea class="form-control btn-block" asp-for="@Model.Goal" placeholder="Finalidade da viagem..." rows="4" required></textarea>

                </div>

            </div>

            <button class="btn btn-md btn-outline-primary btn-user-access mt-2 mb-3" type="submit">Salvar <i class="bi bi-cloud-arrow-up"></i></button>

        </form>

    </div>

</body>