@model Users;
@using WebSis.Models;
@using WebSis.Services;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Módulos";

    Secretaries secretary = new Secretaries();

    SecretariesService ss = new SecretariesService();

    ICollection<Secretaries> secretaryList = ss.SecretariesList().Where(u => u.Id ==
    Context.Session.GetInt32("secretariesId")).ToList();

    TravelAuthorizations ta = new TravelAuthorizations();

    TravelAuthorizationsService tas = new TravelAuthorizationsService();

    List<TravelAuthorizations> travelList = tas.ListTravels();

}

<body class="modules-container">

    <div class="container index-contai">

        <div class="col-lg-12 col-md-12 col-sm-12 module-user-access">

            <div class="index-header">
                <!-- Input box que exibe o nome do usuário que está logado -->

                <div class="input-group input-group-md mb-3 hello">

                    <div class="input-group-prepend">
                        <i class="bi bi-person-fill input-group-text"></i>
                    </div>

                    <input class="form-control text-justify"
                        placeholder='Bem Vindo, @Context.Session.GetString("login") !' readonly>

                </div>

                <!-- / Input box que exibe o nome do usuário que está logado -->

                <div class="navega mt-4">

                    <div class="input-group input-group-md index-select">

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="selectSecretary"><i class="bi bi-building-fill-check"
                                    title="Selecionar Secretarias"></i></label>
                        </div>

                        <select onchange="return getIndexSecretariesProp()" class="custom-select select-box"
                            name="selectIndexSecretary" id="selectIndexSecretary" title="Selecionar Secretarias"
                            disabled>
                            @foreach (var item in secretaryList)
                            {
                                if (item.Acronym != null)
                                {
                                    <option value="@item.Name" selected>@item.Acronym</option>
                                    <div class="dropdown-divider"></div>

                                }
                            }
                        </select>

                    </div>

                </div>


                @if (Context.Session.GetInt32("type") == 1)
                {
                    <!-- Input para cadastrar Secretarias -->


                    <button class="btn btn-md btn-outline-primary btn-user-register mt-3" type="button" data-toggle="modal"
                    data-target="#registerSecretary-modal" title="Cadastrar Secretarias"><i
                        class="bi bi-building-fill-add" title="Cadastrar Secretarias"></i> Cadastrar
                        Secretarias</button>


                    <!-- / Input para cadastrar Secretarias -->

                    <!-- Input para cadastrar Usuário -->

                    <button class="btn btn-md btn-outline-primary btn-user-register mt-3" type="button" data-toggle="modal"
                    data-target="#registerUser" title="Cadastrar Usuário"> <i class="bi bi-person-fill-add"></i>
                        Cadastrar Usuário</button>

                    <!-- / Input para cadastrar Usuário -->

                }

            </div>

            <div class="title-index">

                <img class="img-fluid logo-index-register" src="../images/pmtm-logo.png"
                    alt="Imagem Logo da tela de Login">

                <div class="register-index-header">
                    <h1>PREFEITURA MUNICIPAL DE TRÊS MARIAS</h1>

                    <h2 id="elementEl">@Context.Session.GetString("secretaryAcronym") -
                        @Context.Session.GetString("secretaryName")</h2>
                </div>

            </div>

        </div>

        <div class="row modules-container">

            <div class="col-lg-4 col-md-4 col-sm-4 modules">

                <div class="col-md-12">

                    <a class="btn-module av-btn" data-element="#av-module" href="" title="Autorização de Viagem">

                        <i class="bi bi-bus-front" title="Autorização de Viagem"></i>
                        <span> AV - Autorização de Viagem </span>

                    </a>

                    <hr class="module-hr">

                    <a class="btn-module rd-btn" data-element="#rd-module" href="" title="Relatório de Despesas">

                        <i class="bi bi-coin" title="Relatório de Despesas"></i>
                        <span> RD - Relatório de Despesas </span>

                    </a>

                    <hr class="module-hr">

                    <a class="btn-module sa-btn" data-element="#sa-module" href="" title="Solicitação de Adiantamento">

                        <i class="bi bi-bank2" title="Solicitação de Adiantamento"></i>
                        <span> SA - Solicitação de Adiantamento </span>

                    </a>

                    <hr class="module-hr">

                    <a class="btn-module rv-btn" data-element="#rv-module" href="" title="Relatório de Viagem">

                        <i class="bi bi-clipboard2-pulse-fill" title="Relatório de Viagem"></i>
                        <span> RV - Relatório de Viagem</span>

                    </a>

                </div>

            </div>

            <div id="av-module" class="av-module">

                <div class="col-md-12 mt-3">

                    <input class="form-control av-secretaryName" id="av-secretaryName" disabled />

                </div>

                <div class="av-info mt-3">

                    <div>
                        <input value="AV - Autorização de Viagem" class="form-control title-module" disabled />
                    </div>

                    <div>
                        <input class="form-control year-module" value='@DateTime.Now.ToString("yyyy")' disabled />
                    </div>

                </div>

                <div class="row av-row">

                    <button class="btn btn-md btn-outline-primary btn-av-register mt-3" type="button"
                        data-toggle="modal" data-target="#myModal" title="Cadastrar AV - Autorização de viagem"> <i
                            class="bi bi-journal-check"> </i> Cadastrar AV
                    </button>

                </div>

                <div class="col-md-12 list-TA">
                    @await Html.PartialAsync("_ListOfTravelAuthorizations.cshtml", @travelList)
                </div>

            </div>

            <div id="rd-module" class="col-lg-8 col-md-8 col-sm-12 rd-module">

                <div class="col-md-12 mt-3">

                    <input class="form-control av-secretaryName" id="rd-secretaryName" disabled />

                </div>

                <div class="av-info mt-3">

                    <div>
                        <input value="RD - Relatório de Despesas" class="form-control title-module" disabled />
                    </div>

                    <div>
                        <input class="form-control year-module" value='@DateTime.Now.ToString("yyyy")' disabled />
                    </div>

                </div>

                <div class="row av-row">
                    <button class="btn btn-md btn-outline-primary btn-av-register mt-3" type="button"
                        data-toggle="modal" data-target="" title="Cadastrar RD - Relatório de despesas"> <i
                            class="bi bi-journal-check"> </i> Cadastrar RD</button>


                </div>

                <div class="alert alert-danger w-100 h-50 col-md-12 alert-modules">
                    <h2>O Módulo RD - Relatório de despesas está em desenvolvimento !</h2>
                    <p>Em breve você terá acesso ao módulo...</p>
                </div>

            </div>

            <div id="sa-module" class="col-lg-8 col-md-8 col-sm-12 sa-module">

                <div class="col-md-12 mt-3">

                    <input class="form-control av-secretaryName" id="sa-secretaryName" disabled />

                </div>

                <div class="av-info mt-3">

                    <div>
                        <input value="SA - Solicitação de Adiantamento" class="form-control title-module" disabled />
                    </div>

                    <div>
                        <input class="form-control year-module" value='@DateTime.Now.ToString("yyyy")' disabled />
                    </div>

                </div>

                <div class="row av-row">
                    <button class="btn btn-md btn-outline-primary btn-av-register mt-3" type="button"
                        data-toggle="modal" data-target="" title="Cadastrar SA - Solicitação de Adiantamento"> <i
                            class="bi bi-journal-check"> </i> Cadastrar SA</button>

                </div>

                <div class="alert alert-danger w-100 h-50 col-md-12 alert-modules">
                    <h2>O Módulo SA - Solicitação de adiantamento está em desenvolvimento !</h2>
                    <p>Em breve você terá acesso ao módulo...</p>
                </div>

            </div>

            <div id="rv-module" class="col-lg-8 col-md-8 col-sm-12 rv-module">

                <div class="col-md-12 mt-3">

                    <input class="form-control av-secretaryName" id="rv-secretaryName" disabled />

                </div>

                <div class="av-info mt-3">

                    <div>
                        <input value="RV - Relatório de Viagem" class="form-control title-module" disabled />
                    </div>

                    <div>
                        <input class="form-control year-module" value='@DateTime.Now.ToString("yyyy")' disabled />
                    </div>

                </div>

                <div class="row av-row">
                    <button class="btn btn-md btn-outline-primary btn-av-register mt-3" type="button"
                        data-toggle="modal" data-target="" title="Cadastrar RV - Relatório de viagem"> <i
                            class="bi bi-journal-check"> </i> Cadastrar RV</button>

                </div>

                <div class="alert alert-danger w-100 h-50 col-md-12 alert-modules">
                    <h2>O Módulo RV - Relatório de Viagem está em desenvolvimento !</h2>
                    <p>Em breve você terá acesso ao módulo...</p>
                </div>

            </div>

        </div>

    </div>

    <!--Start RegisterUser Modal-->

    <div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="registerUserTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <img class="img-fluid logo-register" src="../images/pmtm-logo.png"
                        alt="Imagem Logo da tela de Login">

                    <div class="col-md-8 register-header">
                        <h1 class="">PREFEITURA MUNICIPAL DE TRÊS MARIAS</h1>

                        <h2 class="">SEMAD - SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO</h2>
                    </div>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body p-0">

                    <partial name="_RegisterUser" id="registerUserMod" model="@Model" />

                </div>

            </div>

        </div>

    </div>

    <!--Finish RegisterUser Modal-->

    <!--Start RegisterSecretary Modal-->

    <div class="modal fade" id="registerSecretary-modal" tabindex="-1" role="dialog"
        aria-labelledby="registerSecretaryTitle" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">

                <div class="modal-header p-2">

                    <img class="img-fluid logo-register-secretary" src="../images/pmtm-logo.png"
                        alt="Imagem Logo da tela de Login">

                    <div class="col-md-8 register-secretary-header">
                        <h1 class="">PREFEITURA MUNICIPAL DE TRÊS MARIAS</h1>

                        <h2 class="">SEMAD - SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO</h2>
                    </div>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body p-0">
                    @await Html.PartialAsync("_RegisterSecretaries.cshtml", @secretary)
                </div>

            </div>

        </div>

    </div>

    <!--Finish RegisterSecretary Modal-->

    <!--Start RegisterTA Modal-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">

        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

            <div class="modal-content">

                <div class="modal-header">

                    <img class="img-fluid logo-register" src="../images/pmtm-logo.png"
                        alt="Imagem Logo da tela de Login">

                    <div class="col-md-10 register-header">
                        <h1 class="">PREFEITURA MUNICIPAL DE TRÊS MARIAS</h1>

                        <h2 class="">SEMAD - SECRETARIA MUNICIPAL DE ADMINISTRAÇÃO</h2>
                    </div>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                        <span aria-hidden="true">&times;</span>

                    </button>

                </div>

                <div class="modal-body p-0">

                    <partial id="_RegisterTA" name="_RegisterTA" model="@ta" />

                </div>

            </div>

        </div>

    </div>

    <!--Finish RegisterTA Modal-->

</body>