@model Users
@using WebSis.Models;

@{
    ViewData["Title"] = "Edição de Usuário";
}

<div class="p-2">

    <form method="post" asp-action="UpdateUser" asp-controller="Users" class="user-form">

        <input id="userId" type="hidden" asp-for="@Model.Id">

        <h3 class="text-center mt-3 mb-4">Editar dados de Usuário</h3>

        <span id="upMsg"></span>

        <div class="row">

            <div class="col-md-6 mb-3">

                <input placeholder="Nome completo" id="upName" asp-for="@Model.Name" type="text" class="form-control"
                    required>

            </div>

            <div class="col-md-6 mb-3">

                <input placeholder="Nome de acesso" id="upLogin" asp-for="@Model.Login" type="text" class="form-control"
                    required>

            </div>

            <div class="col-md-6 mb-3">

                <input placeholder="Crie uma senha" id="upPassword" asp-for="@Model.Password" type="password"
                    class="form-control" required>

            </div>

            <div class="col-md-6 mb-3">

                <input placeholder="Confirme a Senha" id="upCheckedPassword" asp-for="@Model.CheckedPassword"
                    type="password" class="form-control" required>

            </div>

            <div class="col-md-12 mb-4">

                <select class="custom-select dropdown-select d-block w-100" asp-for="@Model.Type" required>

                    <option value="">Nível de acesso do usuário ...</option>

                    <option asp-for="@Users.ADMIN" for="ADMIN" value="@Users.ADMIN">Administrador</option>
                    <option asp-for="@Users.PADRAO" for="PADRAO" value="@Users.PADRAO">Comum</option>

                </select>

                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>

            </div>

        </div>

        <div class="modal-footer p-2">

            <a asp-action="ListOfRegisteredUsers" style="font-size: 20px;" class="btn btn-md btn-outline-secondary"
                title="Cancelar"><i class="bi bi-arrow-return-left"></i> </a>

            <button class="btn btn-md btn-outline-primary" style="font-size: 20px;" type="submit" id="btnUpdate"
                title="Editar"><i class="bi bi-pencil"></i> </button>

        </div>

    </form>

</div>
